
.App {
  text-align: center;
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
}

/* sessão header menu*/
.li{
  list-style: none;
}
.a{
  color: red;
}
.menu{
  background-color: #FF1919;
  align-items:center;
  justify-content: center;
  min-height: 20vh;
}
